.panel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navi {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1300px;
    min-height: 80px;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #213B7E;
}

.menu-activ {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px
}

li {
    display: flex;
    flex-wrap: wrap;
}

.activ {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    background-color: #213B7E;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
}

.activ:hover {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration-line: none;
}

.list-activ {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration: none;
}

.button-enter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #EA5D21;
    text-decoration: none;
    width: 100%;
    max-width: 153px;
    min-height: 50px;
}

/*popup*/

.popup {
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    display: none;
    box-sizing: border-box;
    padding: 38px 30px 45px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -80%);
    background: #FFFFFF;
    border: 1px solid #213B7E;
}

.popup-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.popup-form {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.popup-form > input {
    width: 100%;
    min-height: 52px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}

.popup-input {
    max-width: 444px;
    height: 45px;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
    background: #FFFFFF;
    color: #808080;
}

.popup-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 153px;
    min-height: 50px;
    background: #EA6113;
    color: #FFFFFF;;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.show-popup {
    display: block;
}

/*наполнение*/

.page1 {
    width: 100%;
    max-width: 911px;
    height: auto;
    margin: 0 auto;
    flex-grow: 1;
}
.heading {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 911px;
    min-height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.img {
    width: 100%;
    max-width: 523px;
    height: auto;
}

h2 {
    width: 232px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
}

.text-learn {
    display: flex;
    flex-wrap: wrap;
}

.learning {
    width: 130px;
    height: 90px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #646464;
}

.text {
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.text::first-letter {
    color: #EA6113;
    font-size: 36px;
    font-family: 'IBM Plex Serif';
}

em {
    color: #CF5510  
}

.footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    height: 60px;;
    margin: 0 auto;
    padding: 0 16px;
    background:#213B7E;
    justify-content: center;
    align-items: center;
}

.copy {
    display: flex;
    align-items: center;
    width: 211px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.innop-link {
    color: rgba(255, 255, 255, 0.5);
}

/*Students*/

.students {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.student {
    padding-left: 50px;
}

.foto-link {
    text-decoration: none;
}

.student-name {
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.student-name:hover {
    color: #000000;
    text-decoration: underline;
}

.student-img {
    display: block;
    width: 200px;
    height: 270px;
}

.student-img:nth-child(2) {
    border: 10px dotted #213B7E;
}

.new-student {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    background: #3AA828;
    border-radius: 10px;
    left: 126px;
    top: -343px;
}

/* О курсе*/

.about-video {
    width: 288px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.video {
    width: 100%;
    max-width: 820px;
    min-height: 550px;
}

/*Контакты*/

.map {
    width: 100%;
    max-width: 1268px;
    min-height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16;
    border: 0px;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.phone {
    text-decoration: underline;
    color: #000000;
}

/* осебе*/

.activ-color {
    background-color: hsl(40, 32%, 83%);
}

.body-color {
    background-color: hsl(40, 32%, 83%);
}

.about2{
    width: 100%;
    height: auto;
    padding: 0px 10vw;
}

.heading-about{
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
    text-transform: capitalize;
}

.hello{
    text-align: center;
    margin: 10px;
    color: #3AA828;;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.about-container{
    margin: 100px 0 100px;
    width: 100%;
    display: flex;
}

.right-p {
    position: relative;
    margin-left: 20px;
}

.left-foto {
    position: relative;
}

.left-foto::before{
    content: 'Это я';
    text-transform: capitalize;
    position: absolute;
    right: 38px;
    top: 10px;
}

.about-image{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    display: block;
    width: 270px;
    height: 309px;
}

.about-p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin-top: 6px;
    margin-bottom: 40px;
}

.style-h3 {
    color: #1c763c;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.style-li {
    display: list-item;
    color: #213B7E;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.style-li:hover {
    color: #000000;
    text-decoration: underline;
}

/*media просто поиграться:)*/

@media (max-width: 520px) {
    .heading {
        font-size: 20px;
    }
    .logo {
        display: none;
    }
    h2 {
        font-size: 18px;
    }
    .text {
        font-size: 11px;
    }
    .button-enter{
        width: 474px;
    }
    .popup {
        width: 300px; 
    }
    .video {
        width: 400px;
    }
    .students {
        display: block;
    }
}
@media (max-width: 900px) {
    .students {
        display: block;
    }
}